/****GENRELLE INDSTILLINGER****/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    --bebas: 'Bebas Neue', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --purple: #c3add9;
    --lightpink: #f2ced5;
    --pink: #d9adc3;
    --green: #add9d9;
    --beige: #f5f1ee;
    --logo_pink: #DE8394;
    --black: #050c0d;
}

body {
    margin: 0;
    background-color: #fbfbfb;
}

html {
    font-size: 62.5%;
}

main {
    display: none;
}

h1 {
    color: black;
    font-size: 10rem;
    font-family: var(--bebas);
    position: absolute;
}

h2 {
    font-family: var(--bebas);
    color: black;
}

h3 {
    font-family: var(--bebas);
}

p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
}

section {
    position: relative;
    width: 100vw;
    min-height: 530px;
}

figure {
    margin: 0;
}

.headlines {
    color: #d9adc3;
    font-size: 10rem;
    margin: 0 0 30px 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    position: sticky;
    top: 10px;
    float: left;
    z-index: 5;
}

.purple {
    color: #c3add9;
}

/****GENRELLE INDSTILLINGER SLUT****/

/****MENU****/
nav {
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

.menu_links {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--bebas);
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu_links a {
    margin-bottom: 20px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 5px;
    transition: background-size .3s;
    color: var(--logo_pink);
}

#burger_knap {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 65px;
    height: 55px;
    /*    transition: .5s ease-in-out;*/
    cursor: pointer;
    background-image: url(assets/white_circle.svg);
    background-size: 100%;
    z-index: 130;
}

#burger_knap div {
    display: block;
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: var(--logo_pink);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#burger_knap div:nth-child(1) {
    top: 10px;
    left: 8px;
}

#burger_knap div:nth-child(2),
#burger_knap div:nth-child(3) {
    top: 23.5px;
    left: 8px;
}

#burger_knap div:nth-child(4) {
    top: 37px;
    left: 8px;
}

#burger_knap.open div:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#burger_knap.open div:nth-child(2) {
    transform: rotate(45deg);
    background-color: var(--logo_pink);
}

#burger_knap.open div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--logo_pink);
}

#burger_knap.open div:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.toggle_menu {
    transform: translateX(100%);
}

.button_fly_in {
    transform: translateX(-100px);
}

.button_fly_out {
    transform: translateX(50px);
}

.menu_overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: black;
    opacity: 0;
    z-index: 10;
    pointer-events: none;
    transition: all 0.5s;
}

.overlay_on_off {
    opacity: 0.35;
}

header {
    width: 100vw;
    height: 90px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
}

#header_logo {
    width: 100px;
    height: 80px;
    margin-left: 30px;
}

/****MENU SLUT****/

/****SPLASH****/
#splash {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

/**** SPLASH ****/
.fullscreen-bg {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

#splash_arrow {
    position: absolute;
    bottom: 10px;
    width: 60px;
}

/****SPLASH SLUT****/

/****LOGO + LOADER****/
#loader {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
    overflow: hidden;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#logo img {
    width: 100%;
}

#logo {
    max-width: 400px;
    align-self: center;
}

.wrapper_loaded {
    transform: translateY(-100vh);
}

#progress_bar {
    max-width: 400px;
    width: 80%;
    height: 20px;
    border: 1px solid var(--green);
    margin-top: 20px;
    position: relative;
}

#progress {
    height: 100%;
    width: 0%;
    background-color: var(--green);
    max-width: 100%;
}

@keyframes removeLoader {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-100vh);
    }
}

/****LOGO + LOADER SLUT****/

/**** ABOUT SEKTION ****/

#about {
    padding-top: 40px;
}

#about h1 {
    margin-bottom: 0px;
}

#about h2 {
    background-color: rgba(242, 206, 213, 0.96);
    padding: 20px 30px 2px 30px;
    margin: 0;
    color: #050C0D;
    font-size: 2.5rem;
}

#about p {
    background-color: var(--lightpink);
    padding: 0 30px 30px;
    margin: 0;
    color: #050c0d;
}

#about_img img {
    width: 100%;
}

#video_container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.sc_player {
    position: relative;
    height: 100px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
}

.billede_cover {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100px;
    background-color: aqua;
}

/****EVENTS SEKTION****/
.margin_auto {
    width: calc(100vw - 120px);
    margin-left: 120px;
    max-width: 940px;
}

#events h1 {
    margin-top: 40px;
    margin-bottom: -45px;
}

#coming_events {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

#coming_events_scroll {
    height: auto;
    max-height: 300px;
    /*    background-color: var(--yellow);*/
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 115px;
    position: relative;
    grid-row: 4;
    grid-column: 1;
    scrollbar-color: #0A4C95 #C2D2E4;
}

.more_upc {
    padding-top: 52px;
    font-size: 6rem;
    margin: 0;
    grid-row: 4;
    grid-column: 1;
}

.venue_h2 {
    grid-row: 5;
    padding-top: 52px;

}

#past_events {
    height: auto;
    max-height: 300px;
    /*    background-color: var(--yellow);*/
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 115px;
    position: relative;
    grid-row: 5;
    grid-column: 1;
}

.scrollbar::-webkit-scrollbar {
    width: 1em;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(173, 217, 217, 0.6);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(5, 12, 13, 0.88);
}

#first_event_scroll {
    margin-top: 0;
}

#past_events h2 {
    grid-column: 1/3;
    grid-row: 1;
}

.event {
    width: 100%;
    height: 200px;
    background-color: var(--green);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--bebas);
    position: relative;
    margin-top: 80px;
}

.venue_art {
    height: 50px;
    justify-content: flex-start;
    padding-left: 15px;
    background-color: var(--green);
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 5px;
}

.venue_art:nth-child(1) {
    margin-top: 0;
}

.venue_art h3 {
    color: white;
    margin: 5px 0;
}

.venue {
    font-size: 2.8rem;
    margin: 0;
}

.event h3 {
    font-size: 2rem;
    margin: 5px 0;
}

.events_h2 {
    grid-column: 1/2;
    grid-row: 1;
    font-size: 5rem;
    font-family: var(--bebas);
    margin: 20px 0 5px 0;
    color: white;
}

.venue_headline {
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: -35px;
    font-size: 6rem;
    align-self: flex-start;
    margin-left: 35px;
    letter-spacing: 3px;
}

/****EVENTS SEKTION SLUT****/

/****DJ SCHOOL****/

#dj_school {
    background-image: url(img/lisa2.png);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: 10%;
}

#dj_school h1 {
    margin-top: 10px;
    z-index: 1;
}

#dj_school .txt {
    position: absolute;
    width: calc(100vw - 120px);
    bottom: 0;
    right: 0;
}

#dj_school p {
    background-color: rgba(242, 206, 213, 0.96);
    padding: 30px;
    margin: 0;
    color: #050C0D;
}

#dj_school h2 {
    background-color: rgba(242, 206, 213, 0.96);
    padding: 30px 30px 2px 30px;
    margin: 0;
    color: #050C0D;
    font-size: 2.5rem;
}

#dj_school p:nth-child(2) {
    padding-top: 0;
    padding-bottom: 10px;
}

#dj_school p:nth-child(3) {
    padding-top: 0;
    padding-bottom: 30px;
}

#djschool_img {
    display: none;

}

.djschool_wrap {
    margin-top: 60px;
}

.djschool_wrap .txt {
    background-color: var(--lightpink);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    height: fit-content;
}

.cta {
    padding: 30px;
    background-color: rgba(181, 126, 154, 0.26);
    font-size: 2rem;
    font-family: var(--bebas);
    width: 90%;
    align-self: center;
    transition: 0.5s ease all;
    text-align: center;
    text-decoration: none;
    color: black;
}

.cta:hover {
    transform: scale(1.03);
}

/****DJ SCHOOL SLUT****/

/****CONTACT SEKTION****/
#contact {
    padding-top: 80px;
}

#contact h1 {
    margin-top: -55px;
}

#contact_wrap {
    background-color: var(--green);
    padding: 50px 30px 10px 30px;
    margin-top: -30px;
    padding-top: 50px;

}

#contact_wrap h2:nth-child(1) {
    margin-left: 0;
}

#find_wrap h2:nth-child(1) {
    margin-left: 0;
}

#find_wrap {
    background-color: var(--lightpink);
    padding: 30px;
    margin-top: 70px;
    position: relative;
    margin-left: 0;
}

#social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin-top: 15px;
    width: 100%;
}

#social a {
    text-decoration: none;
    color: #fbfbfb;
    transition: 0.5s ease all;
}

#face,
#insta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

#social h3 {
    margin: 0 0 30px 0;
}

#insta_img {
    background-image: url(social/insta_trans.svg);
    width: 90px;
    height: 90px;
    background-size: 100%;
    transition: 0.5s ease all;
}

#face_img {
    background-image: url(social/face_trans.svg);
    width: 90px;
    height: 90px;
    background-size: 100%;
    transition: 0.5s ease all;
}

#social a:hover {
    transform: scale(1.03);
    color: var(--black);
}

#social a:hover #insta_img {
    background-image: url(social/insta_trans_sort.svg);

}


#social a:hover #face_img {
    background-image: url(social/face_trans_sort.svg);

}

.form_heading {
    font-size: 3rem;
    margin-bottom: 0;
    font-family: var(--bebas);
    margin-top: 10px;
}

#contact_form input {
    width: 100%;
    height: 40px;
    font-family: var(--roboto);
    font-size: 1.5rem;
    border: none;
    padding-left: 10px;
    background-color: white;
    margin-bottom: 20px;
}

#request,
#contact_type {
    width: 100%;
    font-family: var(--roboto);
    font-size: 1.5rem;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}

#request {
    margin-bottom: 0;
}

#contact_type {
    height: 40px;
    border-radius: 0;
    -webkit-appearance: none;
}

#select_wrap {
    position: relative;
    width: 100%;
}

#arrow_down {
    position: absolute;
    top: 12.5px;
    right: 10px;
    height: 15px;
    pointer-events: none;
}

input[type="submit"] {
    margin-top: 20px;
    cursor: pointer;
}

#contact_info {
    margin-top: 20px;
}

#venue_field {
    display: none;
}

#business_field {
    display: none;
}

/****CONTACT SEKTION SLUT****/

/****FOOTER****/

.footer_wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

footer p {
    font-size: 1.3rem;
    color: var(--purple);
    margin: 0 0 5px 0;
}

footer a {
    text-decoration: none;
}

footer {
    width: 100%;
    padding-top: 0.5rem;
    position: relative;
    text-transform: uppercase;
    bottom: 0;
    margin-top: 20px;
    display: none;
}

/****FOOTER SLUT****/
@media only screen and (max-width:430px) {

    .venue_headline,
    .more_upc {
        font-size: 5rem;
    }

    .more_upc,
    .venue_h2 {
        padding-top: 62px;
    }
}

@media only screen and (min-width: 840px) {
    nav {
        width: 300px;
    }

    .margin_auto {
        margin: 0 100px 0 180px;
        width: calc(100vw - 280px);
    }

    #about {
        margin-bottom: 220px;
    }

    #about h1 {
        margin-bottom: -160px;
    }

    .about_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    #about .txt {
        position: absolute;
        width: 35vw;
        left: 0px;
        top: 20px;
    }

    #about_img {
        /* display: none; */
        height: 80vh;
        width: auto;
        grid-row: 1;
        grid-column: 2;
    }

    #about_img img {
        height: 100%;
        width: auto;
    }

    #events {
        margin-bottom: 50px;
    }

    #events h1 {
        margin-top: 0;
    }

    #coming_events {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }

    #coming_events_scroll {
        grid-column: 2;
        grid-row: 2;
        margin-top: 85px
    }

    .event:nth-child(even) {
        margin-top: 180px;
    }

    .event:nth-child(odd) {
        margin-top: -100px;
    }

    .event:nth-child(1) {
        margin-top: 0;
    }

    #first_event {
        margin-top: 50px;
    }

    #coming_events_big .event:nth-child(1) {
        margin-top: 5px;
    }

    .more_upc {
        grid-column: 2;
        grid-row: 2;
        padding-top: 32px;
        font-size: 5rem;
    }

    .venue_headline {
        font-size: 5rem;
        margin-left: 20px;
    }

    #past_events {
        grid-column: 1;
        grid-row: 3;
        margin-top: -200px;
    }

    .venue_h2 {
        grid-column: 1;
        grid-row: 3;
        margin-top: -284px;
        padding-top: 32px;
    }

    #dj_school {
        height: 60vh;
    }

    #dj_school .txt {
        position: absolute;
        width: 40vw;
        top: 0;
        right: 0;
    }


    #djschool_img {
        grid-column: 1;
        grid-row: 1;
    }

    #contact {
        padding-top: 0px;
    }

    #contact h1 {
        margin-top: 30px;
    }

    #contact_wrap h2:nth-child(1) {
        margin-top: 35px;
    }

    #contact_section {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
    }

    #contact_form {
        grid-column: 1;
        grid-row: 1;
    }

    #contact_info {
        margin-left: 20px;
    }

    #contact_wrap {
        background-color: var(--green);
        padding: 30px;
        margin-top: 70px;
    }

    #contact_wrap h2:nth-child(1) {
        margin-left: 0;
    }

    #find_wrap h2:nth-child(1) {
        margin-left: 0;
    }

    #find_wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 435px;
        margin-top: 200px;

    }

    #social {
        width: 100px;
    }

    #face {
        margin-left: 10px;
    }

    #insta {
        margin-right: 10px;
    }

    .footer_wrapper {
        flex-direction: row;
    }
}

@media only screen and (min-width:1130px) {
    #about .txt {
        left: 70px;
    }
}

@media only screen and (min-width: 1200px) {
    .margin_auto {
        margin: 0 auto;
        width: calc(100vw - 500px);
    }

    #load_more img {
        width: 70px;
    }

    #load_more {
        height: 100px;
    }

    #about .txt {
        position: absolute;
        bottom: 40%;
        left: 48%;
        width: auto;
    }

    #about_img {
        /* display: none; */
        height: 80vh;
        width: auto;
        grid-row: 1;
        grid-column: 1;
    }

    .more_upc {
        padding-top: 23px;
        font-size: 6rem;
    }

    .venue_headline {
        font-size: 6rem;
        margin-left: 35px;
    }

    .djschool_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
        position: relative;
    }

    #dj_school {
        height: 80vh;
        background-image: none;
    }

    #dj_school .txt {
        position: absolute;
        width: 50%;
        top: 120px;
    }

    #djschool_img {
        display: block;
        height: auto;
        max-height: 550px;

    }
}
