/****GENRELLE INDSTILLINGER****/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    --purple: #A510FF;
    --dark-purple: #0E0118;
    --yellow: #E2FF10;
    --pink: #FF10E2;
}

body {
    margin: 0;
    background-color: var(--dark-purple);
}

html {
    font-size: 62.5%;
}

h1 {
    color: black;
    font-size: 10rem;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 120px;
    font-size: 1.6rem;
}

section {
    position: relative;
    width: 100vw;
    min-height: 530px;
    padding-right: 20px;
}

.headlines {
    color: var(--pink);
    font-size: 10rem;
    margin: 0 0 30px 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    position: absolute;
    top: 10px;
    float: left;
}

.yellow {
    color: var(--yellow);
}

/****GENRELLE INDSTILLINGER SLUT****/

/****MENU****/

header {
    width: 100vw;
    height: 50px;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
    margin-left: 15px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
}

nav a:hover {
    border-bottom: 2px solid white;
}

/****MENU SLUT****/

/****SPLASH****/

#splash {
    width: 100vw;
    height: 100vh;
}

#splash h1:nth-child(1) {
    top: 100px;
    left: 70px;
}

#splash h1:nth-child(2) {
    top: 200px;
    left: 30px;
}

/****SPLASH SLUT****/

/****LOGO + LOADER****/

#loader_wrapper {
    transition: 3s all;
}

#loader {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: var(--dark-purple);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: 3s all;
}

.logo {
    width: 80%;
    position: absolute;
    transition: 3s all;
}

.loader_loaded {
    transform: scale(40);
}

.logo_loaded {
    transform: translateY(40px);
}

.wrapper_loaded {
    transform: translateX(120px);
}

/****LOGO + LOADER SLUT****/

/****EVENTS SEKTION****/

#events h1 {
    margin-top: 40px;
}

#coming_events {
    display: grid;
    grid-template-columns: 1fr;
    width: calc(100vw - 120px);
    margin-left: 120px;

    overflow: hidden;
    position: relative;
}

#load_more {
    width: 100%;
    height: 80px;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(14, 1, 24, 1) 16%, rgba(0, 212, 255, 0) 100%);
    z-index: 100;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

#load_more img {
    width: 50px;
}

.load_more_off {
    max-height: 1500px;
}

.load_more_toggle {
    max-height: none;
}

#past_events {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: calc(100vw - 120px);
    margin-left: 120px;
}

#past_events h2 {
    grid-column: 1/2;
    grid-row: 1;
}

.event {
    width: 100%;
    height: 350px;
    background-color: #a510ff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    margin-top: 80px;
}

.venue {
    font-size: 3rem;
    margin: 0;
}

.event h3 {
    font-size: 2rem;
    margin: 5px 0;
}

.events_h2 {
    grid-column: 1/2;
    grid-row: 1;
    font-size: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px 0 5px 0;
    color: white;
}

.upcoming {
    position: absolute;
    top: 0;
    margin: 0;
    margin-top: -35px;
    font-size: 6rem;
    align-self: flex-start;
    margin-left: 35px;
    letter-spacing: 3px;
}

/****EVENTS SEKTION SLUT****/

/****CONTACT SEKTION****/

#contact_booking {
    display: none;
}

#contact_business {
    display: none;
}

/****CONTACT SEKTION SLUT****/

/****FOOTER****/

/****FOOTER SLUT****/

@media only screen and (min-width: 840px) {
    #events h1 {
        margin-top: 0;
    }

    #coming_events {
        grid-template-columns: 1fr 1fr;
        margin: 0 180px 0 300px;
        grid-gap: 50px;
        width: calc(100vw - 500px);
        padding-top: 190px;
    }

    .event:nth-child(odd) {
        margin-top: 80px;
    }

    .event:nth-child(even) {
        margin-top: -150px;
    }

    .load_more_off {
        max-height: 800px;
    }

    .load_more_toggle {
        max-height: none;
    }

}

@media only screen and (min-width: 1200px) {
    #load_more img {
        width: 70px;
    }

    #load_more {
        height: 100px;
    }
}
